body {
  border-top: 0;
  background-color: #fff205;
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.5;
  color: #fff;
  font-smoothing: antialiased;
}
h1 {
  color: #fff205;
  text-transform: uppercase;
  font-size: 7rem;
  font-family: 'Knewave', cursive;
}
h1,
h2,
h3 {
  font-family: 'Special Elite', cursive;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin: 0;
  color: #fff205;
}
h1 span,
h2 span,
h3 span {
  font-family: 'Knewave', cursive;
  text-transform: uppercase;
}
h3 {
  font-weight: 3.5rem;
  letter-spacing: -0.1rem;
}
strong {
  color: #a62125;
  text-decoration: underline;
}
ul {
  text-align: left;
}
li::before {
  content: "\f111";
  color: #fff200;
  font-family: FontAwesome;
  font-size: 12px;
  vertical-align: middle;
  margin-right: 5px;
}
header,
footer {
  padding: 30px 0;
  background: url("../assets/images/curtis-scare/header-bg.jpg") no-repeat top left;
}
header h2,
footer h2 {
  color: #fff205;
  text-transform: uppercase;
  font-size: 4.5rem;
  margin-top: 10px;
  background: #a62125;
  display: inline-block;
  padding: 20px 120px 0 20px;
  line-height: 55px;
}
.ute {
  background-color: #a62125;
  color: #fff;
  padding: 20px;
}
.ute h3 {
  color: #fff;
}
.ute h3 span {
  color: #fff205;
}
.ute strong {
  color: #fff205;
}
.tax-section {
  padding: 30px;
  background-color: #000;
}
.tax-section .title-bg {
  background: rgba(255,255,255,0.15);
  display: inline-block;
  margin: 30px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.tax-section h2 {
  color: #fff;
}
.tax-section p {
  width: 65%;
  margin: 10px auto;
}
.ts1 {
  background: url("../assets/images/curtis-scare/girlscout.jpg") top left;
}
.ts2 {
  background: url("../assets/images/curtis-scare/header-bg.jpg") no-repeat top left;
}
.ts3 {
  background: url("../assets/images/curtis-scare/blue-bg.jpg") repeat top left;
}
.ts4 {
  background: url("../assets/images/curtis-scare/lobbyists.jpg") repeat top left;
}
.ts5 {
  background: url("../assets/images/curtis-scare/sharknado.jpg") no-repeat top left;
}
.ts6 {
  background-color: #1c1c1c;
  font-size: 1.5rem;
}
.ts6 ul {
  width: 60%;
  margin: 10px auto;
}
footer h3 {
  color: #64b2b0;
  text-transform: uppercase;
}
footer h3 span {
  color: #fff205;
}
.disclaimer {
  padding: 50px;
  background-color: #000;
  color: #a62125;
  font-size: 0.8rem;
}
.disclaimer div {
  padding: 30px 30px;
}
.curtis-ts1 {
  background: url("../assets/images/curtis-scare/range.jpg") no-repeat top left;
  background-position: center;
}
.curtis-ts2 {
  background: url("../assets/images/curtis-scare/map-utah.jpg") no-repeat top left;
}
.curtis-ts3 {
  background: url("../assets/images/curtis-scare/provo.jpg") no-repeat center center;
  background-color: #000;
}
.curtis-ts6 ul {
  width: 50%;
}
