{{#>base }}

  {{#*inline "content-block"}}
  <section id="nav-section" class="navy">
    <nav class="container">
      <div id="navbrand"><a href="index.html">U WORK 4 UTAH <i>A Super PAC</i></a></div>
      <i id="hamburger" class="fa fa-bars fa-2x" aria-hidden="true"></i>
      <ul id="navList" class="hidden">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </nav>
  </section>

  <section id="hero" class="home-section container">
    <img src="assets/images/header.svg" alt="U Work 4 Utah" />
    <div id="mission"><span>U Work 4 Utah</span> uses <b>creative methods</b> to influence partisan elected officials representing Utahns to act in accordance with the <b>moderate views of their constituents.</b></div>
    <a class="button" href="https://www.crowdpac.com/campaigns/226261/hold-mia-love-accountable-on-health-care">Donate to the cause</a>
    {{> _sociallinks }}
  </section>

  <h1 class="home-header">Current Activity</h1>
  <section class="home-section red">
    <div class="container ca-flex">
        <img class="ca-image" src="assets/images/MiaLoveBillboard-Mockup.png" />
        <div class="ca-headers"><h2>Hold Mia Love Accountable on Healthcare</h2>
          <h3>Help us launch a billboard in a prominent location in her district.</h3>
          <a class="button" href="https://www.crowdpac.com/campaigns/226261/hold-mia-love-accountable-on-health-care">Donate now</a>
        </div>
        <p class="ca-content">For <b>7 years</b> Mia Love has been promising to fix the problems with our current health care system. Since being elected, with a majority Republican Congress, Senate, and a Republican President she has failed to deliver ANY change. Health insurance premiums continue to rise, and in fact, <a href="http://www.commonwealthfund.org/publications/blog/2017/jun/aca-market-stability">because of the uncertainty she and her colleagues have introduced into the health insurance market</a>, premiums are <i>rising even more!</i></p>
    </div>
  </section>

  <h1 class="home-header">Past Activity</h1>
  


  {{/inline}}

  {{#*inline "scripts-block"}}
    <script>
      (function (window, document) {

        var hamburger = document.getElementById('hamburger');

        function toggleNav() {
          var element = document.getElementById('navList');
          element.classList.toggle('show');
        }

        hamburger.onclick = function(e) {
          e.preventDefault();
          toggleNav();
        }

      }(this, this.document));
    </script>
  {{/inline}}

{{/base }}