{{#>base }}

  {{#*inline "content-block"}}
  
  {{> _hero }}

  <h1 class="home-header">Current Activity</h1>
  <section class="home-section red">
    <div class="container responsive-flex">
        <img class="ca-image" src="assets/images/MiaLoveBillboard-Mockup.png" />
        <div class="ca-headers"><h2>Hold Mia Love Accountable on Healthcare</h2>
          <h3>Help us launch a billboard in a prominent location in her district.</h3>
          <a class="button" href="https://www.crowdpac.com/campaigns/226261/hold-mia-love-accountable-on-health-care">Donate now</a>
        </div>
        <p class="ca-content">For <b>7 years</b> Mia Love has been promising to fix the problems with our current health care system. Since being elected, with a majority Republican Congress, Senate, and a Republican President she has failed to deliver ANY change. Health insurance premiums continue to rise, and in fact, <a href="http://www.commonwealthfund.org/publications/blog/2017/jun/aca-market-stability">because of the uncertainty she and her colleagues have introduced into the health insurance market</a>, premiums are <i>rising even more!</i></p>
    </div>
  </section>

  <h1 class="home-header">Past Activity</h1>
  <section class="home-section container responsive-flex pa">
    <div>
      <img src="assets/images/sltrib-logo.png" alt="Salt Lake Tribune Logo" />
      <h1>Salt Lake Tribune Op-ed</h1>
      <p>Read our op-ed in the Trib.</p>
    </div>
    <div>
      <iframe id="chaff-vid" src="https://www.youtube.com/embed/ZuDN2tTqCNU" frameborder="0" allowfullscreen></iframe>  
      <h1>Help Elect a Moderate to Replace Chaffetz</h1>
      <p>We pushed to get a moderate to replace Chaffetz</p>
    </div>
    <div>
      <img src="assets/images/ChaffetzBoard.png" alt="chaffetz russia billboard" />
      <h1>Defeat Extremist Jason Chaffetz</h1>
      <p>Our first action, launched a billboard that helped convince Chaffetz it was time to go!</p>
    </div>
  </section>
  
  {{/inline}}

  {{#*inline "scripts-block"}}
    
  {{/inline}}

{{/base }}