{{#>base }}

  {{#*inline "content-block"}}
  
  {{> _hero }}

  <section class="home-section lightblue">
    {{> _mailchimp }}
    {{> _sociallinks }}
  </section>

  <h1 class="home-header">Current Activity</h1>
  <section class="home-section red">
    <div class="container responsive-flex">
        <img class="ca-image" src="assets/images/mialoveboard.png" />
        <div class="ca-headers"><h2>Holding Mia Love Accountable on Healthcare</h2>
          <h3>We launched these billboards in prominent locations in her district.</h3>
          <h3>Donate now to help keep them up longer!</h3>
          <a class="button" href="https://www.crowdpac.com/campaigns/226261/hold-mia-love-accountable-on-health-care">Donate now</a>
        </div>
        <p class="ca-content">For <b>7 years</b> Mia Love has been promising to fix the problems with our current health care system. Since being elected, with a majority Republican Congress, Senate, and a Republican President she has failed to deliver ANY change. Health insurance premiums continue to rise, and in fact, <a href="http://www.commonwealthfund.org/publications/blog/2017/jun/aca-market-stability">because of the uncertainty she and her colleagues have introduced into the health insurance market</a>, premiums are <i>rising even more!</i></p>
    </div>
  </section>

  <h1 class="home-header">Commentary</h1>
  <section class="home-section lightblue">
    <div class="commentary container responsive-flex">
      <div class="commentary-teaser">
        <h1>Why is Mia Love raising the cost of your healthcare?</h1>
        <p>Are you ready to find more room in your family budget to pay for healthcare costs? Mia Love thinks you are!
</p>
        <a href="mia-love-raising-cost.html">Read more</a>
      </div>
      <div class="commentary-teaser">
        <h1>The Utah delegation’s race against truth</h1>
        <p>For years now our entire delegation has told us that they had a plan to solve the healthcare problems Utahns face: out of control cost increases, limited access to care, and, since 2009, the negative side effects of the ACA, or “Obamacare.”
We now see that our Utah delegation and their friends in Washington were repeating a big lie...</p>
        <a href="race-against-truth.html">Read more</a>
      </div>
    </div>
  </section>

  <h1 class="home-header">Past Activity</h1>
  <section class="home-section container responsive-flex pa">
    <div class="pa-detail">
      <img src="assets/images/sltrib-logo.png" alt="Salt Lake Tribune Logo" />
      <h1>Salt Lake Tribune Op-ed</h1>
      <p>Read <a href="http://www.sltrib.com/opinion/commentary/2017/09/29/commentary-the-utah-delegations-race-against-truth/" target="_blank">our latest Op-Ed</a> on the Utah Delegation's failure on healthcare in the Salt Lake Tribune.
      </p>
    </div>
    <div class="pa-detail">
      <div class="videocontainer"><iframe id="chaff-vid" src="https://www.youtube.com/embed/ZuDN2tTqCNU" frameborder="0" allowfullscreen></iframe></div>
      <h1>Help Elect a Moderate to Replace Chaffetz</h1>
      <p>We pushed to get a moderate elected to replace Jason Chaffetz.</p>
    </div>
    <div class="pa-detail">
      <img src="assets/images/ChaffetzBoard.png" alt="chaffetz russia billboard" />
      <h1>Defeat Extremist Jason Chaffetz</h1>
      <p>Our first action, launched a billboard that helped convince Chaffetz it was time to go! We were featured in the <a href="http://archive.sltrib.com/article.php?id=5166377&itype=CMSID" target="_blank">Salt Lake Tribune</a>, <a href="https://www.washingtonpost.com/politics/jason-chaffetz-announces-he-wont-run-for-office-in-2018/2017/04/19/aad10c75-1200-483c-8d7f-16f2a996866d_story.html?utm_term=.db0ff1c4daf1" target="_blank">Washington Post</a> and the <a href="http://www.huffingtonpost.com/entry/jason-chaffetz-billboard-utah_us_58ef5a1de4b0b9e984899959" target="_blank">Huffington Post</a>.</p>
    </div>
  </section>
  
  {{/inline}}

  {{#*inline "scripts-block"}}
    
  {{/inline}}

{{/base }}