{{#>article}}
  {{#*inline "article-block"}}

    <h1>U Work 4 Utah takes on Mia Love's Twitter Feed</h1>
    <div class="meta"><span class="date">19 Mar 2018</span></div>

    <p>Congresswoman Mia Love has a reputation for blocking her constituents on social media, and this week a Utah Super PAC has launched a new Twitter feed to help constituents in Utah's 4th Congressional District.  U Work 4 Utah, a Salt Lake City-based PAC has released a "bot" on Twitter that automatically re-tweets all messages from both of Congresswoman Love's Twitter accounts, @RepMiaLove and @MiaBLove.  If you follow their account @RepMiaBot on Twitter, you can read all of Love's tweets, even if she has blocked you. "If she hasn't blocked you yet, follow @RepMiaBot and then you can block Mia Love!" urged Jeremy Voros, the Republican co-founder of U Work 4 Utah, a group that last year put up billboards in Utah County aimed at then-congressman Jason Chaffetz.  </p>

    <p>Mr. Voros points out that, like Donald Trump, Mia Love uses her Twitter feed to promote her work in her official capacity as a federal employee, but then she selectively tries to censor constituents who express differing opinions.  This practice has potential legal implications, and has drawn criticism from the Utah chapter of the ACLU. “Social media is a great way to facilitate public discussion, but those discussions need to include everyone, even people who don’t agree with their representatives.” Leah Farrell, an attorney for the ACLU of Utah said last summer.</p>

    <p>Apparently Mia Love didn't get the memo.</p>

    <p>U Work 4 Utah was blocked on Twitter by Love's account, @RepMiaLove, this past January.  Jeremy explained, "A couple months ago, I was pointing out to Representative Love on Twitter that despite her moderate rhetoric, her voting record persuaded a Super PAC tied to alleged child molester Roy Moore to support her.  How moderate can she be if she shares a fan club with that guy?" Apparently she didn't like the comparison, because a few days later he noticed that their account was blocked by @RepMiaLove, making it impossible to read her tweets.</p>

    <p>Voros can't be certain what caused Representative Love to block the group's Twitter account, @uwork4utah. "It could have been that we pointed out that her health care votes made health care costs rise for average Utahns and led to many of my patients losing their health insurance," wondered Jeremy, an Emergency Room physician who has been a vocal critic of her votes on health care. "Or it could have been that we pointed out that she voted to give a historic, unfunded tax cut to the richest 1% in the country and then immediately her party called for stripping people of their Medicare and Social Security benefits," he wondered, adding, "We have never said anything abusive to her or used foul language.  She just didn't like us drawing attention to her voting record." </p>

    <p>Whatever caused it, getting blocked gave them an idea--to create a "bot" that would disseminate Love's tweets to all Utahns--even those who had expressed disagreement with her on social media.</p>

    <p>In addition to re-tweeting both of Love's Twitter accounts, the "bot" will engage users in conversations.  "Try tweeting to @RepMiaBot and see how it responds," Jeremy said. "You can ask it about Mia Love's record and, unlike Representative Love, it will actually respond to you."</p>

    <p>Since releasing the bot this week, @RepMiaLove has actually unblocked the group on Twitter. "I guess she wasn't expecting to get called out for ignoring real Utahns," Jeremy speculated, pointing out that Mia Love hasn't held an in-person town hall meeting open to all her constituents since February of 2015, shortly after taking office for the first time. "Basically Love's strategy is to ignore Utahns and hope that she can get elected with the support of the corporations, special interest groups, and wealthy individuals she works for in DC," Jeremy said.  "We want to draw attention to this strategy and let Utah voters decide if that's how they want their reps to operate.  We think that she has forgotten that she works for Utah."</p>


  {{/inline}}
{{/article}}