{{#>article}}
  {{#*inline "article-block"}}

    <h1>Why is Mia Love raising the cost of your healthcare?</h1>

    <div class="meta"><span class="date">20 Oct 2017</span></div>

    <p>Are you ready to find more room in your family budget to pay for healthcare costs? Mia Love thinks you are!</p>

    <p>In May of this year, <a href="https://www.deseretnews.com/article/865679453/AHCA-and-the-problems-of-the-status-quo.html" target="_blank">Mia Love wrote to the Deseret News</a> to explain the dire state of healthcare in Utah.  “Premiums have risen, and are expected to skyrocket 22 percent by the end of this year.” she said, warning what would happen if constructive action wasn’t taken. A lot has happened since May--but nothing that could be considered constructive action.  Mia Love was touting her role in passing a bill known as the “AHCA”.  This bill was roundly rejected by 100% of the professionals in the healthcare industry. The Susan G. Komen Foundation pleaded with Representatives like Mia Love to vote against the bill, citing the harm it would do to breast cancer patients. They warned that Love’s vote would “add significant economic burdens on women and men already facing a fight for their lives.” Only 25% of Americans supported the bill.</p>

    <p>Senators Hatch and Lee were among those who thought the bill was a foolish. Neither even considered taking the bill up in the Senate--they knew it wasn’t a serious piece of legislation.  </p>

    <p>Nothing constructive so far.</p>

    <p>Then Hatch and Lee weighed in.  They sponsored a string of equally reckless and unpopular bills, all of which raised a wave of protest from their constituents.  Even among Republicans, their bills never reached majority support.  </p>

    <p>Still nothing constructive.</p>

    <p>Enter Donald Trump. Frustrated at being blocked by Americans that disliked the proposed plans to weaken our healthcare system, he signed an executive order to do what Mia and Orrin weren’t able to--make your healthcare costs go up by introducing uncertainty into the market.</p>

    <p>Remember Mia’s prediction that costs would go up by 22%?  She was wrong. In Utah costs are now <a href="http://www.sltrib.com/news/2017/10/12/utahns-earning-too-much-for-federal-subsidies-could-feel-brunt-of-new-health-insurance-rate-increases/" target="_blank">estimated to rise by as much as 63%</a>! 63%?! At last check, Love was still a member of the United States Congress, a body capable of passing legislation to prevent these hikes. What has she done? Nothing. She seems to be making a clear point: she is not capable of helping you.  </p>

    <p>We disagree! We came up with a plan for her to do something constructive! </p>

    <p>She’s not capable of legislative action, but you know what she’s good at? Raising money from commercial banks!  <a href="https://www.opensecrets.org/members-of-congress/summary?cid=N00033842" target="_blank">Just this year she’s raised $28,667 from commercial banks</a>. Don’t you think that money would be better spent keeping campaign promises than spent making more campaign promises?</p>

  {{/inline}}
{{/article}}