<footer class="navy">
  <div class="container">
    {{> _mailchimp}}
    {{> _sociallinks}}

    <div class="footer-address">
      2223 South Highland Drive #173<br>
      Salt Lake City, Utah 84106
    </div>

</footer>
