<section id="hero" class="home-section container">
  <img src="assets/images/header.svg" alt="U Work 4 Utah" />
  <div id="mission"><span>U Work 4 Utah</span> uses <b>creative methods</b> to influence partisan elected officials representing Utahns to act in accordance with the <b>moderate views of their constituents.</b></div>
  <a class="button" href="https://www.crowdpac.com/campaigns/226261/hold-mia-love-accountable-on-health-care">Donate to the cause</a>
</section>