<section id="nav-section" class="navy">
  <nav class="container">
    <div id="navbrand"><a href="index.html">U WORK 4 UTAH <i>A Super PAC</i></a></div>
    <!--<i id="hamburger" class="fa fa-bars fa-2x" aria-hidden="true"></i>
    <ul id="navList" class="hidden">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
    </ul> -->
  </nav>
</section>

<script>
  (function (window, document) {

    var hamburger = document.getElementById('hamburger');

    function toggleNav() {
      var element = document.getElementById('navList');
      element.classList.toggle('show');
    }

    hamburger.onclick = function(e) {
      e.preventDefault();
      toggleNav();
    }

  }(this, this.document));
</script>