<ul class="sociallinks">
  <li><a href="https://www.facebook.com/uwork4utah/"><i class="fa fa-facebook-square"></i></a></li>
  <li><a href="https://twitter.com/uwork4utah"><i class="fa fa-twitter"></i></a></li>
  <li><a href="https://www.instagram.com/uwork4utah/"><i class="fa fa-instagram"></i></a></li>
  <li><a href="mailto:info@uwork4utah.com"><i class="fa fa-envelope-o"></i></a></li>
</ul>
