@import "main"

yeller = #fff200;
anger = #a62125;
lblue = #64b2b0;

body
  border-top: 0
  background-color: yeller
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal
  font-size: 2rem
  line-height: 1.5
  color: white

h1
  color: yeller
  text-transform: uppercase
  font-size: 7rem
  font-family: 'Knewave', cursive

h1, h2, h3
  font-family: 'Special Elite', cursive
  margin: 0
  color: yeller

  span
    font-family: 'Knewave', cursive
    text-transform: uppercase

h3
  font-weight: 3.5rem

strong
  color: anger
  text-decoration: underline

ul
  text-align: left

li::before
    content: "\f111"
    color: #fff200
    font-family: FontAwesome
    font-size: 12px
    vertical-align: middle
    margin-right: 5px

header, footer
  padding: 30px 0
  background: url(../images/curtis-scare/header-bg.jpg) no-repeat top left

  h2
    color: yeller
    text-transform: uppercase
    font-size: 4.5rem
    margin-top: 10px
    background: anger
    display: inline-block
    padding: 20px 120px 0 20px
    line-height: 55px



.ute
  background-color: anger
  color: white
  padding: 20px

  h3
    color: white
    span
      color: yeller
  
  strong
    color: yeller

.tax-section
  padding: 30px
  
  .title-bg
    background: rgba(255,255,255,.15)
    display: inline-block
    margin: 30px
    padding-top: 15px
    padding-left: 20px
    padding-right: 20px
  
  h2
    color: white

  p
    width: 65%
    margin: 10px auto

.ts1
  background: url(../images/curtis-scare/girlscout.jpg) top left

.ts2
  background: url(../images/curtis-scare/header-bg.jpg) no-repeat top left

.ts3
  background: url(../images/curtis-scare/blue-bg.jpg) no-repeat top left

.ts4
  background: url(../images/curtis-scare/lobbyists.jpg) no-repeat top left

.ts5
  background: url(../images/curtis-scare/sharknado.jpg) no-repeat top left

.ts6
  background-color: #1c1c1c;
  font-size: 1.5rem

  ul
    width: 60%
    margin: 10px auto

footer
  h3
    color: lblue
    text-transform: uppercase
    span
      color: yeller

.disclaimer
  padding: 50px
  background-color: black
  color: anger
  font-size: 0.8rem

  div
    padding: 30px 30px
  